<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{asset('img/icon.ico')}}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Ets MEKAOUI</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{{asset('css/linearicons.css')}}">
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('css/nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('css/hexagons.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{asset('css/main.css')}}">
</head>
<body>
<header id="header" id="home">

    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="{{asset('img/logo.png')}}" alt="" title="" /></a>
            </div>

        </div>
    </div>
</header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12 col-md-12">
                <h6 class="text-uppercase"></h6>
                <h1>
                    ETS MEKAOUI
                </h1>
                <h2 style="color: white;">Machines et Equipements de conditionnement</h2>

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-30 header-text text-center">
                <h1 class="mb-10">Nos produits</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="thumb">
                        <img src="{{asset('img/peseuse.jpg')}}" height="340px" alt="">
                    </div>
                    <h4>Soudeuses et peseuses</h4>
                    <p>
                        Soudeuses par impulsion manuelles,actionnement par pédale pour la fermeture de sacs PE, PP …
                        Peseuses linéaires à couloirs vibrants monocanal, destinée au pesage de poudres de faible granulométrie (sucre, semoule, couscous,legumes secs…)
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="thumb">
                        <img src="{{asset('img/scelleuse.jpg')}}" height="340px"  alt="">
                    </div>
                    <h4>Scelleuses</h4>
                    <p>
                        Les scelleuses thermiques SCT sont destinées à la fermeture des sacs complexes, papier, aluminium, ...
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="thumb">
                        <img src="{{asset('img/tapis.jpg')}}" height="340px"  alt="">
                    </div>
                    <h4>Tapis convoyeurs</h4>
                    <p>
                        Parmi nos tapis, les convoyeurs à bande faible charge.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->

<!-- end blog Area -->

<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>A propos de nous</h6>
                    <p>
                        L'établissement MEKAOUI existe depuis plus de 25 ans,
                        ses principaux secteurx d'activité sont le conditionnement alimentaire, industriel...
                    </p>
                    <p class="footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Nous contacter</h6>
                    <ul>
                        <li><i class="fa fa-envelope"></i> mekaoui.abder@gmail.com</li>
                        <li><i class="fa fa-phone"></i> +213 770 92 67 89</li>
                        <li><i class="fa fa-home"></i> +213 26 13 15 34</li>
                        <li><i class="fa fa-fax"></i> +213 26 13 15 34</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>Nous rendre visite</h6>
                    <div class="footer-social d-flex align-items-center">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Ain-Zaouia centre</li>
                            <li> Drâa el Mizan, Tizi Ouzou - Algérie</li>
                            <li> Du samedi au mercredi</li>
                            <li> 9h-13h 14h-17</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{{asset('js/vendor/jquery-2.2.4.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{asset('js/vendor/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{{asset('js/easing.min.js')}}"></script>
<script src="{{asset('js/hoverIntent.js')}}"></script>
<script src="{{asset('js/superfish.min.js')}}"></script>
<script src="{{asset('js/jquery.ajaxchimp.min.js')}}"></script>
<script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('js/owl.carousel.min.js')}}"></script>
<script src="{{asset('js/hexagons.min.js')}}"></script>
<script src="{{asset('js/jquery.nice-select.min.js')}}"></script>
<script src="{{asset('js/jquery.counterup.min.js')}}"></script>
<script src="{{asset('js/waypoints.min.js')}}"></script>
<script src="{{asset('js/mail-script.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
</body>
</html>



